body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1,
h2 {
  color: #333;
}

ul,
ol {
  list-style-position: inside;
}

a {
  color: #06c;
}

/* Style for images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Style for the recipe container */
.recipe-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the navigation links */
.nav-links {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
